.icon-valid {
    color: green;
    display: none;
    margin-right: 10px;
}

.icon-invalid {
    color: red;
    display: none;
    margin-right: 10px;
}

.active-card {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.inactive-card {
    background-color: #f8f9fa;
    border-color: #ddd;
}

.step {
    position: relative;
    padding: 20px;
    /*margin-bottom: 30px;*/
}

.circle {
    width: 100px;
    height: 100px;
    border: 3px solid #17a2b8;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-number {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid #17a2b8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.circle.active {
    background-color: #d4edda;
    border-color: #28a745;
}

.circle.inactive {
    background-color: #f8f9fa;
    border-color: #ddd;
}

.circle i {
    font-size: 2rem;
    color: #17a2b8;
}

.circle.active i {
    color: #28a745;
}

.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1050;
}

.alert.audit {
    display: flex;
    flex-direction: column; /* Cambiado a columna para ajustar el orden */
    align-items: flex-start; /* Alineación a la izquierda */
    padding: 1rem;
    /*background-color: rgba(248, 215, 218, 0.8); /* Color de fondo transparente */
    border: 1px solid rgba(245, 198, 203, 0.8); /* Borde transparente */
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: opacity 0.15s linear;
    opacity: 1; /* Añadido para controlar la visibilidad */
    visibility: visible; /* Añadido para controlar la visibilidad */
    font-size: 1.2em;
}

.alert.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.alert-danger .icon { /* Cambiado a rojo */
    color: #721c24; /* Cambiado a rojo */
}

.alert .close {
    align-self: flex-end; /* Alineación a la derecha */
    cursor: pointer;
}

.d-flex.align-items-center .btn-link {
    align-items: center;
    display: flex;
}

.cardField{
    background-color: #eff2f5 !important;
}

#sortable {
    list-style-type: none;
    padding: 0;
}

#sortable li {
    margin: 5px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: move;
}

.card {
    margin-bottom: 20px;
}
.card-header {
    background-color: #e9ecef;
}
.sortable-list li {
    margin-bottom: 10px;
    cursor: move;
}

.table-success-column {
    background-color: #89a7bb42 !important; /* Color de fondo verde claro */
    font-size: medium !important;
}

.table-internal-title {
    text-decoration: underline !important;
}

.table-title {
    font-weight: bolder !important;
    font-size: medium !important;
}

/* For mobile devices */
@media (max-width: 767px) {
    #signature-pad {
        width: 100%;
        height: auto;
    }
}

/* For tablets and larger devices */
@media (min-width: 768px) {
    #signature-pad {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 800px; /* Ajusta el tamaño máximo del modal */
    }
}

#signatureForm {
    max-width: 100%;
}

#imgSignature {
    border: 1px solid #000000;
    background-color: #eff2f5;
    width: 100%;
    height: 100%
}
