/* Globales  */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* Boton login */
.custom-btn {
    color: white;
    background-color: #006db3;
    border-color: #006db3;
    transition-duration: 0.4s;
    cursor: pointer;
}
.custom-btn:active {
    background-color: rgba(0, 109, 179, 0.65) !important;
    color: white !important;
}
.custom-btn:hover {
    background-color: rgba(0, 109, 179, 0.65);
    color: white;
}

.auth-form-group-custom {
    position: relative;
}
.auth-form-group-custom .form-control {
    height: 60px;
    padding-top: 28px;
    padding-left: 60px;
}
.auth-form-group-custom label {
    position: absolute;
    top: 7px;
    left: 60px;
}
.auth-form-group-custom .auti-custom-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    font-size: 24px;
    color: #006db3;
}

.forgot-password > a {
    font-size: 14px;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .col-lg-4, .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0; 
    }

    .login-form {
        padding: 4rem 2rem; 
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .login-form img {
        max-width: 60%; 
        margin: 0 auto 1.5rem; 
    }

    .login-form h4 {
        font-size: 22px; 
        text-align: center;
    }

    .login-form p {
        font-size: 16px;
        text-align: center;
    }

    .auth-form-group-custom .form-control {
        font-size: 16px; 
        
    }

    .btn {
        width: 100%; 
        font-size: 18px;
        padding: 0.75rem 1rem;
    }

   
    .img-background {
        display: none;
    }
}
@media (max-width: 400px) {
    .login-form {
        padding: 1.5rem 1rem; 
        height: auto; 
        min-height: 100vh; 
        text-align: center; 
    }

    .login-form img {
        width: 180px; 
        margin-bottom: 1rem; 
    }

    .form-group {
        margin-bottom: 1rem; 
    }

    .form-control {
        font-size: 14px; 
        padding: 0.75rem; 
    }

    .btn {
        font-size: 16px; 
        padding: 0.5rem; 
        width: 100%; 
    }

    h4 {
        font-size: 20px; 
    }

    p {
        font-size: 14px; 
    }
}

